.product {
    display: flex;
    flex-direction: column;
    gap: 6px;
    border: 1px solid blue;
    width: 300px;
    height: 200px;
    justify-content: center;
    padding: 20px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

